<!-- <div class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div> -->


















<!-- <div>
    <form [formGroup]="Form">
        <div mat-dialog-content class="content">
            <div class="row">
                <mat-form-field appearance="outline" class="mat-input">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" type="text" class="form-control" placeholder="Name">
                    <mat-error> Name is required </mat-error>
                </mat-form-field>
           </div>
    
            <div class="row">
                <mat-form-field appearance="outline" class="mat-input">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" type="email" class="form-control" placeholder="abc@gmail.com">
                    <mat-error> Email is required </mat-error>
                </mat-form-field>
            </div>
    
            <div class="row">
                <mat-form-field appearance="outline" class="mat-input">
                    <mat-label>Phone No.</mat-label>
                    <input matInput formControlName="phone"  type="number" placeholder="Ex.123">
                    <mat-error>Phone No. is required </mat-error>
                </mat-form-field>
            </div>   
    
            <div class="row">
                <mat-form-field appearance="outline" class="mat-input">
                    <mat-label>Select</mat-label>
                    <mat-select formControlName="country">
                        <mat-option value="India">India</mat-option>
                        <mat-option value="China">China</mat-option>
                        <mat-option value="Australia">Australia</mat-option>
                        <mat-option value="Canada">Canada</mat-option>
                        <mat-option value="Egypt">Egypt</mat-option>
                    </mat-select>
                    <mat-error> Country is required </mat-error>
                </mat-form-field>
            </div>
    
            <div class="row">
                <mat-form-field appearance="outline" class="mat-input">
                    <mat-label>Gender</mat-label>
                    <mat-radio-group aria-label="Select an option" formControlName="gender">
                        <mat-radio-button value="1">Male</mat-radio-button>
                        <mat-radio-button value="2">Female</mat-radio-button>
                      </mat-radio-group>
                </mat-form-field>
            </div>
           
        </div>
    </form>
</div> -->